<span class="text-logo" transition:persist>Chanw</span>

<style>
	.text-logo {
		display: inline-block;
		font-family: var(--font-serif);
		font-size: var(--font-size-lg);
		font-weight: 700;
		color: var(--color-gray-800);
		letter-spacing: 0.02em;
		position: relative;
		top: 4px;
		transition: color 0.3s ease-in-out;
	}

	.text-logo:hover {
		color: var(--color-crimson);
	}
</style>
